---
title: 部活動
---

<h4>運動部</h4>
<table class="table">
  <tr>
    <th>クラブ名</th>
    <th>活動日</th>
    <th>活動時間</th>
    <th>活動場所</th>
    <th>HP</th>
  </tr>
  <% data.clubs.sport.each do |club| %>
    <tr>
      <td><%= club[:name] %></td>
      <td><%= club[:activeday] %></td>
      <td><%= club[:activetime] %></td>
      <td><%= club[:place] %></td>
      <td><a href="<%= club[:siteurl] %>"><%= club[:sitename] %></a></td>
    </tr>
  <% end %>
</table>

<h4>文化部</h4>
<table class="table">
  <tr>
    <th>クラブ名</th>
    <th>活動日</th>
    <th>活動時間</th>
    <th>活動場所</th>
    <th>HP</th>
  </tr>
  <% data.clubs.culture.each do |club| %>
    <tr>
      <td><%= club[:name] %></td>
      <td><%= club[:activeday] %></td>
      <td><%= club[:activetime] %></td>
      <td><%= club[:place] %></td>
      <td><a href="<%= club[:siteurl] %>"><%= club[:sitename] %></a></td>
    </tr>
  <% end %>
</table>

<h4>同好会</h4>
<table class="table">
  <tr>
    <th>クラブ名</th>
    <th>活動日</th>
    <th>活動時間</th>
    <th>活動場所</th>
    <th>HP</th>
  </tr>
  <% data.clubs.others.each do |club| %>
    <tr>
      <td><%= club[:name] %></td>
      <td><%= club[:activeday] %></td>
      <td><%= club[:activetime] %></td>
      <td><%= club[:place] %></td>
      <td><a href="<%= club[:siteurl] %>"><%= club[:sitename] %></a></td>
    </tr>
  <% end %>
</table>
