---
title: 中学生の方へ
---

<h2>中学生の方へ</h2>
<p class="text-center">
  学生会執行部というのは、皆さんの学校でいう生徒会のような組織です。<br>
  ただ高専の場合は先生の指示ではなく、学生主導で行事の運営といった
  学校を変え、より良くする仕事をしています。<br>
  ここでは学生会執行部の仕組み・主な仕事・運営している行事をまとめています。
</p>

<h3>局紹介</h3>
<p class="text-center">
  学生会執行部は6つの局に分かれています。それぞれの局がそれぞれの仕事を持っています。
</p>

<ul class="departments">
  <% data.activities.departments.each_slice(2).to_a.each do |twodepartments| %>
    <li>
      <div class="card department-card row">
        <img src="../images/<%= twodepartments[0][2][:image] %>" alt="" class="department-img col-md-2">
        <div class="department-detail col-md-10">
          <h4><%= twodepartments[0][0][:name] %></h4>
          <p><%= twodepartments[0][1][:detail] %></p>
        </div>
      </div>
    </li>
    <li>
      <div class="card department-card row">
        <div class="department-detail col-md-10">
          <h4><%= twodepartments[1][0][:name] %></h4>
          <p><%= twodepartments[1][1][:detail] %></p>
        </div>
        <img src="../images/<%= twodepartments[1][2][:image] %>" alt="" class="department-img-even col-md-2">
      </div>
    </li>
  <% end %>
</ul>

<h3>執行部主催の行事</h3>

<% data.activities.events.each do |event| %>
  <div class="card event-card row">
    <div class="col-md-12">
      <h4 class="event-name col-md-2"><%= event[0][:name] %></h4>
      <p class="event-detail col-md-10"><%= event[1][:detail] %></p>
    </div>
  </div>
<% end %>
