---
title: 新着情報
---

<div class="row">
  <div class="col-md-4 hidden-sm">
    <ul class="sns-buttons">
      <li>
        <a href="<%= data.links.nitac[:facebook][:url] %>" target="_blank">
          <button class="btn btn-facebook">
            <i class="fa fa-facebook-official"></i> 公式<%= data.links.nitac[:facebook][:service] %>
          </button>
        </a>
      </li>
      <li>
        <a href="<%= data.links.nitac[:twitter][:url] %>" target="_blank">
          <button class="btn btn-twitter">
            <i class="fa fa-twitter"></i> 公式<%= data.links.nitac[:twitter][:service] %>
          </button>
        </a>
      </li>
      <li>
        <a href="<%= data.links.nitac[:blog][:url] %>" target="_blank">
          <button class="btn btn-blog">
            <i class="fa fa-pencil-square-o"></i> 公式<%= data.links.nitac[:blog][:service] %>
          </button>
        </a>
      </li>
      <li>
        <a href="/links.html">
          <button class="btn btn-blog">
            <i class="fa fa-globe"></i> リンク
          </button>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-8 col-sm-12">
    <div class="news">
      <% data.news.articles.take(2).each do |article| %>
        <article>
          <h3><%= article[:title] %><small>（<%= article[:date] %>）</small></h3>
          <%= truncate(article[:content], omission: '...', length: 300) %>
          <a href="news/<%= article[:date].gsub('.', '-') %>.html">続きを読む</a>
        </article>
        <hr>
      <% end %>
    </div>

    <div class="backnumbers">
      <h3>バックナンバー</h3>
      <ul>
        <% data.news.articles[2..-1].each do |article| %>
          <li><a href="news/<%= article[:date].gsub('.', '-') %>.html"><%= article[:date] %> <%= article[:title] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="sns-buttons-sm visible-sm col-sm-12 text-center">
    <a href="<%= data.links.nitac[:facebook][:url] %>" target="_blank">
      <button class="btn btn-facebook">
        <i class="fa fa-facebook-official fa-3x"></i>
      </button>
    </a>
    <a href="<%= data.links.nitac[:twitter][:url] %>" target="_blank">
      <button class="btn btn-twitter fa-3x">
        <i class="fa fa-twitter"></i>
      </button>
    </a>
    <a href="<%= data.links.nitac[:blog][:url] %>" target="_blank">
      <button class="btn btn-blog fa-3x">
        <i class="fa fa-pencil-square-o"></i>
      </button>
    </a>
    <a href="/links.html">
      <button class="btn btn-blog">
        <i class="fa fa-globe fa-3x"></i>
      </button>
    </a>
  </div>
